body {
    font-family: "Montserrat", sans-serif;
}

#product-overview {
    background: red;
}

.section-title {
    color: #2ddf5c;
}

/* Any h1 tag inside of product-overview */
#product-overview h1 {
    color: white;
    font-family: "Anton", sans-serif;
}
